absl-py
anyconfig==0.9.11
astor==0.8.1
certifi==2020.6.20
cffi==1.14.3
chardet==4.0.0
colorama==0.3.9
cPython==0.0.6
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
easydict==1.9
gast==0.2.2
gevent==20.9.0
google-pasta==0.2.0
greenlet==0.4.17
grpcio==1.32.0
h5py
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata
Keras-Applications
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
llvmlite==0.35.0
Markdown
matplotlib==3.3.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
munch==2.5.0
networkx==2.5
numba==0.52.0
numpy
opencv-python==4.4.0.44
opt-einsum==3.3.0
Pillow==7.2.0
protobuf==3.13.0
pyclipper==1.2.0
pycparser==2.20
pymongo==3.11.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.25.1
scikit-image==0.17.2
scipy
Shapely==1.7.1
six
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tifffile==2020.9.22
tqdm==4.53.0
urllib3==1.26.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp
zope.event==4.5.0
zope.interface==5.1.0
